node_modules/
bower_components/
build/
dist/
ex_files/
Icon/
Thumbs.db
Desktop.ini
npm-debug.log*
.idea
.vscode/
.Saved
.publish
.DS_Store
.SpotLight-V100
._*
.Trashes
*.log
*.sublime*
*.rar
*.zip
*.psd
*.ai
*.pdf
*.pyc
_arc
__MACOSX
