template(id="card")
	article.card
		div.card__wrapper
			h3.card__heading #[a(href="")]
			p.card__label
			p.card__text
			p.card__post
			a.card__link.button-main(href="") Continue reading
		a.card__image(href="")
			picture
				source(srcset="" type="image/webp")
				img(src="" alt="Image" loading="lazy")
