section.preview
	div.preview__container.container
		h1.preview__heading.heading Полет Илона Маска #[br] и Dogie Coin
		p.preview__text В прошлый четверг все офигели от полета DOGIE COIN на марс.
		+buttonAccent("preview__modal-open", "Оставить заявку", "modal-recall")
	div.preview__image(aria-hidden="true")
		picture
			source(media="(min-width: 1200px)" srcset="img/content/preview-bg.webp" type="image/webp")
			source(media="(min-width: 1200px)" srcset="img/content/preview-bg.jpg")
			source(media="(min-width: 600px)" srcset="img/content/preview-bg-t.webp" type="image/webp")
			source(media="(min-width: 600px)" srcset="img/content/preview-bg-t.jpg")
			source(srcset="img/content/preview-bg-m.webp" type="image/webp")
			img(src="img/content/preview-bg-m.jpg" alt="")
