.navigation {
	padding-left: 3px;
}

.navigation__list {
	display: flex;
	flex-direction: column;
	gap: 15px;

	@media (min-width: 1300px) {
		flex-flow: row wrap;
	}

	@media (min-width: 1400px) {
		gap: 28px;
	}

	@media (min-width: 1600px) {
		gap: 42px;
	}
}

.navigation__item {
	display: flex;
}

.navigation__link {
	font-weight: 700;
	text-transform: uppercase;

	@media (max-width: 1299px) {
		font-size: 20px;
		line-height: 150%;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: #808080;
		color: transparent;
		transition: -webkit-text-stroke-color .3s;

		@media (hover: hover) {
			&:hover,
			&:focus {
				-webkit-text-stroke-color: #fff;
			}
		}

		@media (hover: none) {
			&:active {
				-webkit-text-stroke-color: #fff;
			}
		}
	}

	@media (min-width: 1300px) {
		font-size: 14px;
		line-height: 150%;
		color: #fff;
		transition: color .3s;

		@media (hover: hover) {
			&:hover,
			&:focus {
				color: #c2ab81;
			}
		}

		@media (hover: none) {
			&:active {
				color: #c2ab81;
			}
		}
	}
}
