.preview {
	position: relative;
	display: flex;
	align-items: flex-end;
	overflow: hidden;
	height: calc(100dvh - 72px);
	min-height: 320px;
	max-height: 1000px;

	&::before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 280px;
		background: linear-gradient(0deg, #131313 0%, rgb(19 19 19 / 0%) 100%);
		pointer-events: none;
	}

	@media (min-width: 600px) {
		height: calc(100dvh - 110px);
		min-height: 480px;
		max-height: 1200px;

		&::before {
			height: 520px;
		}
	}
}

.preview__container {
	padding-top: 52px;
	padding-bottom: 52px;

	@media (min-width: 600px) {
		padding-top: 124px;
		padding-bottom: 76px;
	}

	@media (min-width: 960px) {
		padding-top: 158px;
		padding-bottom: 96px;
	}
}

.preview__heading {
	position: relative;
}

.preview__text {
	position: relative;
	margin-top: 20px;
	max-width: 272px;
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
	color: rgb(255 255 255 / 80%);

	@media (min-width: 600px) {
		margin-top: 40px;
		max-width: 448px;
		font-size: 16px;
	}

	@media (min-width: 960px) {
		max-width: 100%;
	}
}

.preview__modal-open {
	margin-top: 20px;
	padding: 12px 36px;
	width: auto;

	@media (min-width: 600px) {
		margin-top: 40px;
		padding: 12px 66px;
	}
}

.preview__image {
	position: absolute;
	inset: 0;
	z-index: -1;

	img {
		position: absolute;
		border-radius: 30px 30px 0 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	@media (min-width: 600px) {
		img {
			border-radius: 60px 60px 0 0;
		}
	}
}
