extends layout/layout
block const
	- const isHomePage = true;
block meta
	title Магваи
	meta(name="description" content="Сайт Магваи")
block content
	include includes/preview
	include includes/cards
block prepend page-bottom
